.box 
{
    width: 1000px;
    
    height: 80px;
    
    background-color: #272b33;
    
    display: flex;  
    
    justify-content: space-between;  
    
    align-items: center; 
    
    padding: 0 20px;
}

img
{
    border: 3px solid black;
    
    border-radius: 60px;

    margin: 20px 0 20px 15px;

    width: 100px;

    height: 100px;
}

.box1
{
    background-color: rgb(185, 185, 185);
    
    height: 150px;
}

.box2
{
    width: 1000px;
    
    height: 150px;
    
    background-color: #f0f0f0;
    
    align-items: center; 
    
    display: flex;
    
    padding: 0 20px;
}

.box3
{   
    height: 80px;

    display: flex;                 /* Kích hoạt Flexbox để sắp xếp nội dung linh hoạt */
    
    justify-content: center;       /* Căn giữa nội dung theo chiều ngang */
    
    align-items: center;           /* Căn giữa nội dung theo chiều dọc */
    
    text-align: center;  
}  


.left
{
    color: white;
    
    font-weight: bolder;
    
    font-size: 20px;
}

.right 
{
    color: white;
    
    font-weight: bolder;
    
    font-size: 12px;
}

.span
{ 
    color: #272b33;

    font-weight: bolder;

    margin-left: 20px;

    margin-bottom: 5px;
}

.button 
{
    display: inline-block;
    
    text-decoration: none;
    
    background-color: #272b33;
    
    color: white;
    
    padding: 10px 30px;
    
    border-radius: 5px;
    
    width: 176px;
    
    text-align: center;

    margin: 0 0 30px 20px;
}

a
{
    color: rgb(185, 0, 185);
}

